<div class="container">
	<%= link_to "Edit this record", edit_service_record_path(@service_record), class: "btn btn-primary" %>
	<%= link_to "Delete this record", service_record_path, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
	<h1>Service Record</h1>
	<h3>Title: <%= @service_record.title %></h3>
	<hr>
	<h4>Occured: <%= @service_record.occured %></h4>
	<h4>Vehicle: <%= link_to(@car) do %> <%= @car.year %> <%= @car.make %> <%= @car.model %><% end %></h4>
	<br>
	<p><strong>Description:</strong></p>
	<p><%= @service_record.description %></p>
</div>