<div class="container">
	<%= link_to "Add a new owner", new_owner_path, class: "btn btn-primary pull-right" %>
	<h1>Index: List all users</h1>
	<ol>
	<% @owners.each do |owner| %>
		<li><%= link_to(owner) do %><%= owner.name %><% end %> <br /><%= owner.email %> <br /> Number of vehicles: <%= owner.cars.count %></li>
	<% end %>
	</ol>
</div>