<h1>New: Create a new user</h1>
<%= form_for(@owner) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>
	<%= f.label :email %>
	<%= f.text_field :email, class: 'form-control' %>
	<%= f.submit "Create new owner", class: 'btn' %>
<% end %>