<h1>Index: List all cars</h1>
<ol>
<% @cars.each do |car| %>
	<li><%= link_to(car) do %><%= car.year %> <%= car.make %> <%= car.model %> <%= car.vehicle_type %><% end %> in the color <%= car.color %> <%= link_to "Edit", edit_car_path(car) %></li>
<% end %>
</ol>