<div class="container">
	<%= link_to "Add a new car", new_car_path, class: "btn btn-primary pull-right" %>
	<h1>All Cars</h1>
	<ol>
	<% @cars.each do |car| %>
		<li><%= link_to(car) do %><%= car.year %> <%= car.make %> <%= car.model %> <%= car.vehicle_type %><% end %> in the color <%= car.color %> (<%= link_to "Edit", edit_car_path(car) %>)</li>
	<% end %>
	</ol>
</div>