<h1>Show: Show single car</h1>
<p><strong>Vehicle make:</strong> <%= @car.make %></p>
<p><strong>Vehicle model:</strong> <%= @car.model %></p>
<p><strong>Vehicle year:</strong> <%= @car.year %></p>
<p><strong>Vehicle color:</strong> <%= @car.color %></p>
<p><strong>Vehicle type:</strong> <%= @car.vehicle_type %></p>
<p><strong>Owned by:</strong> <%= link_to(@owner) do %> <%= @owner.name %><% end %></p>